*{
    padding: 0px;
    margin: 0px;
}

/*Row Two*/
.row2{
    width: 85vw;
    background-color: rgb(214, 214, 214, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction:column;
}.row2 .header{
    text-align: right;
    background-color: rgb(255, 255, 255);
}

.generalViewOneContainer{
    flex: 1;
}

.generalViewOne{
    display: flex;
    justify-content: space-around;
}

.generalViewTwoContainer{
    flex: 1;
}

.generalViewTwo{
    display: flex;
    justify-content: space-around;
}

.generalViewThreeContainer{
    flex: 1;
}

.generalViewThree{
    display: flex;
    justify-content: space-around;
}
