*{
    padding: 0px;
    margin: 0px;
}

/*Row Two*/
.row2{
    width: 85vw;
    background-color: rgb(214, 214, 214, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(24, 0, 172);
}.row2 .header{
    text-align: right;
    background-color: rgb(255, 255, 255);
}
.generalViewOne{
    display: flex;
    justify-content: space-around;
}

.generalViewTwo{
    display: flex;
    justify-content: space-around;
}

.generalViewThree{
    display: flex;
    justify-content: space-around;
}