section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.row1{
    display: flex;
    flex-direction: column;
    width: 13vw;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    border-right: 1px solid rgb(214, 214, 214);
    color: rgb(24, 0, 172);
    padding: 0 10px 0 10px;
}

.logoContainer{
    flex: 1;
    display: flex;
    justify-content: center;
}.logo{
    background-image: url(assets/hospitalLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
}

.tabOne{
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 25px 0 25px;
}.tabOne .subject{
    display: flex;
    align-items: center;
    justify-items: center;
}.tabOne .subject p{
    flex: 2;
}

.subject{
    display: flex;
    align-items: center;
    flex: 2;
}

.icon{
    width: 25%;
}

.sidePanelContainers{
    margin-top: 3vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.dashboardIcon{
    flex: 1;
    background-image: url(assets/dashboardIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.3em;
    width: 2.3em;
}

.patManageIcon{
    background-image: url(assets/patientIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.3em;
    width: 1.8em;
}

.appSchedIcon{
    background-image: url(assets/scheduleIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.3em;
    width: 2.3em;
}

.facilitiesIcon{
    background-image: url(assets/medicalIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.3em;
    width: 2.3em;
}

.staffManageIcon{
    background-image: url(assets/staffIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.3em;
    width: 2.3em;
}

.notificationIcon{
    background-image: url(assets/notificaionIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.3em;
    width: 2.3em;
}

/*tab two*/
.tabTwo{
    flex: 2;
    align-content: flex-end;
    margin-bottom: 3vh;
    padding: 0 20px 0 20px;
}.tabTwo .subject p{
    flex: 2;
    text-align: center;
}

.settingIcon{
    flex: 1;
    background-image: url(assets/setting.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.3em;
    width: 2.3em;
}

.logOutIcon{
    background-image: url(assets/logout.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.3em;
    width: 2.3em;
}

/*Row 2*/
.row2{
    width: 85vw;
    background-color: rgb(214, 214, 214, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction:column;
}.row2 .header{
    text-align: right;
    background-color: rgb(255, 255, 255);
}

.usernameContainer{
    flex: 0.01;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(214, 214, 214, 0.6);
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
}

.userNameIcon{
    background-image: url(assets/user.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
}

.userName{
    flex: 1;
}
.userIconContainer{
}