main {
  background-color: hsla(226, 71%, 40%, 0.048) !important;
  min-height: 100dvh;
  align-content: baseline;
}

.main_container {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  flex: 1 1 100%;
  height: calc(100dvh - var(--header_fixed_height) - 33px);
  margin: 16px;
  padding: 15px;
  border-radius: 10px;
  inset: auto 0 auto 0;
  background-color: hsl(210, 40%, 98%) !important;
}

/*Appointment and add appointment tabs for mobile and desktop*/

.btn_tab_active1 {
  align-items: center;
  display: flex;
  flex: 2 1 100%;
  gap: 5px;
}
.btn_tab_active0 {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  padding: 0;
}

.btn_actv1 {
  visibility: visible;
}
.btn_actv0 {
  visibility: hidden;
  display: none;
}

/*Button layout for mobile and desktop*/
.buttons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 1 100%;
  justify-content: center;
}
.buttons input {
  font-weight: 500;
  border-radius: 7px;
}
.submit {
  color: hsl(0, 0%, 100%);
  background-color: hsl(226, 71%, 40%);
}
.submit:hover {
  background-color: hsl(226deg 71% 40% / 38%);
  transition: 1s;
}
.cancel {
  font-size: 0.875rem;
  padding: 5px 20px !important;
  background-color: hsl(226deg 71% 40% / 3%);
  border: 1px solid hsl(226, 71%, 40%) !important;
}

@media only screen and (min-width: 300px) and (max-width: 427px) {
  /*mobile view*/

  /*mobile tabs layout*/
  .btn_tab_active1,
  .btn_tab_active0 {
    padding: 5px 5px 2px 5px;
    border: solid;
    border-width: 0 0 1px 0;
  }
  .btn_tab_active1 {
    border-radius: 10px 10px 0 0;
    background-color: hsla(226, 71%, 40%, 0.377);
    border-color: hsl(226, 71%, 40%);
  }
  .btn_tab_active0 {
    border-radius: 10px 10px 0 0;
    background-color: hsla(226, 71%, 40%, 0.116);
    border-color: hsl(226, 71%, 40%);
  }

  /*Mobile Buttons layout*/
  .mobile_buttons_containers {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 10px;
  }
  .submit {
    font-size: 1.1rem;
    border: none;
    padding: 7px;
  }

  /*Mobile view Hide*/
  .desktop_view_tab {
    display: none;
    pointer-events: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 3000px) {
  /*Desktop view*/
  /*Desktop tabs layout*/
  .desktop_view_tab {
    display: grid;
    height: fit-content;
    align-items: flex-end;
    padding: 10px 0 1px 0;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    border: solid hsla(0, 0%, 39%, 0.726);
    border-width: 0 0 1px 0;
  }
  
  .btn_tab_active0 {
    padding: 0;
    align-items: end;
  }

  .btn_tab_active1 {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding: 0 0 5px 0;
    gap: 5px;
  }

  .add_patient {
    display: flex;
    gap: 5px;
    font-weight: 550;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(226, 71%, 40%);
  }
  .add_patient:hover {
    background-color: hsl(226deg 71% 40% / 38%);
    transition: 1s;
  }
  .add_patient p {
    pointer-events: none;
  }

  .patient_list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    border: solid hsl(226, 71%, 40%);
    margin-bottom: -1px;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 10px;
  }

  .desktop_content_row {
    margin-top: 10px;
    display: grid;
    width: 100%;
  }
  .content_tabs {
    margin: 10px 0 0 0;
    display: grid;
    width: 100%;
    align-items: end;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    border: solid hsla(0, 0%, 39%, 0.726);
    border-width: 0px 0px 1px 0px;
  }

  /*Desktop Buttons layout*/
  .desktop_buttons_containers {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-auto-rows: 1fr;
    justify-self: center;
  }

  .submit {
    font-size: 1.2rem !important;
    padding: 10px 20px 10px 10px !important;
  }

  /*Desktop views hide*/
  .mobile_view_tab {
    display: none;
    pointer-events: none;
  }
}

/*Overriding style only*/
@media only screen and (min-width: 953px) and (max-width: 2628px) {
}
@media only screen and (min-width: 1341px) and (max-width: 2628px) {
}

@media only screen and (max-width: 1024px) {
}
