/*it's for */
:root{
  --fixed_width_for_sb: 20%;
}

main{
  background-color: hsla(226, 71%, 40%, 0.048) !important;
  min-height: 100dvh;
  align-content: baseline;
}

.main_container{
  display: flex;
  flex: 1 1 100%;
}

.content_row{
  display: flex;
  width: 100%;
}

.btn_tab_active1{
  align-items: center;
  display: flex;
  gap: 5px;
}
.btn_tab_active0{
  align-items: center;
  display: flex;
}

.content_row a,
.content_tabs a{
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

.search_container{
  margin-top: 10px;
  display: flex;
  flex: 1 1 0;
}

.search_bar,
.search_bar:focus-visible{
  border-radius: 5px;
  padding: 5px;
  flex-grow: 1;
  border-width: 1px;
  border-color: hsla(0, 0%, 0%, 0.192) !important;
}

/*Shared*/

.btn_actv1{
  visibility: visible;
}
.btn_actv0{
  visibility: hidden;
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 427px){
  /*mobile view*/

  /*Main content Mobile view layout*/
  .mobile_version{
    margin: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    background-color: hsl(210, 40%, 98%) !important;
    padding: 0.9375rem;
    width: 88dvw;
    border-radius: 10px;
  }
  /*Main content navigation layout*/
  .btn_tab_active1,
  .btn_tab_active0{
    padding: 5px 5px 2px 5px;
    border: solid;
    border-width: 0 0 1px 0;
  }
  .btn_tab_active1{
    border-radius: 10px 10px 0 0;
    background-color: hsla(226, 71%, 40%, 0.377);
    border-color: hsl(226, 71%, 40%);
    flex: 2 1 100%;
  }
  .btn_tab_active0{
    border-radius: 10px 10px 0 0;
    background-color: hsla(226, 71%, 40%, 0.116);
    border-color: hsl(226, 71%, 40%);
    flex: 1 1 auto;
  }

  .btn_actv1{
    visibility: visible;
  }
  .btn_actv0{
    visibility: hidden;
    display: none;
  }

  /*Cards layout*/
  .cards_container{
    margin-top: 15px;
    display: grid;
    gap: 10px;
    grid-auto-columns: minmax(200px, 2500px);
    min-height: 296px;
    max-height: 575px;
    overflow-y: scroll;
    border-radius: 10px;
  }
  .patient_card{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  /*Hidden in mobile view*/
  .desktop_version{
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 3000px){
  /*Desktop View*/
  .mobile_content_row{
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .add_appointment{
    display: flex;
    gap: 5px;
    font-weight: 550;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(226, 71%, 40%);
  }
  .add_appointment:hover{
    background-color: hsl(226deg 71% 40% / 38%);
    transition: 1s;
  }
  .appointment{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    border: solid hsl(226, 71%, 40%);
    margin-bottom: -3px;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 10px;
    transition: 3s;
  }

  /*Desktop view layout*/

  /*Main content Mobile view layout*/
  .desktop_version{
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin: 16px;
    padding: 0.9375rem;
    max-height: calc(100dvh - var(--header_fixed_height) - 33px);
    overflow-y: hidden;
    border-radius: 10px;
    background-color: hsl(210, 40%, 98%) !important;
  }

  .desktop_content_row{
    margin: 10px 0px;
    width: 100%;
    min-height: 510px;
    overflow-y: hidden  ;
  }
  .content_tabs{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-items: end;
    border: solid hsla(0, 0%, 39%, 0.726);
    border-width: 0px 0px 1px 0px;
  }

  /*tab_1, 3 is for Patient list, Health record, Add Patient*/
  .tab_3{
    justify-content: end;
  }
  .tab_1,
  .tab_3{
    padding: 0 0 3px 0;
  }
  .tab_3{
    padding: 0 0 5px 0;
  }

  /*Table section*/
  .patient_info{
    margin-top: 40px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }

  table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  thead tr,
  tbody tr{
    text-align: center;
    align-items: center;
  }

  tbody tr:not(:hover) .delete_icon{
    display: none;
    pointer-events: none;
    visibility: hidden;
  }
  tbody tr:hover .delete_icon{
    position: absolute;
    pointer-events: visible;
    visibility: visible;
    color: hsla(0, 100%, 50%, 0.747);
    background-color: hsl(210, 40%, 98%);
    width: 50px;
  }
  tbody tr:hover:nth-child(even) .delete_icon{
    background-color: hsl(210, 17%, 95%);
  }
  .status_table{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px 15px 10px 0px;
  }
  .delete_icon{
    inset: auto 0 auto auto;
  }
  thead tr th,
  tbody tr td{
    align-items: center;
    overflow-wrap: break-word;
    padding: 5px;
    flex-wrap: nowrap;
    position: relative;
    padding: 15px 10px;
  }
  thead{
    background-color: hsl(210, 40%, 98%);
    top: 0;
    position:sticky;
    z-index: 9;
  }
  tbody tr:nth-child(even){
    background-color: hsla(0, 0%, 55%, 0.068);
  }

  /*Hidden in desktop view*/
  .mobile_version{
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

/*Overriding style only*/
@media only screen and (min-width: 953px) and (max-width: 2628px){
}
@media only screen and (min-width: 768px) and (max-width: 880px){
}

@media only screen and (min-width: 1341px) and (max-width: 2628px){
}

@media only screen and (max-width: 1024px){
}
