.dashboard_content{
    padding: 15px;
}

.dashboard_content_row{
    display: flex;
    gap: 20px;
    margin: 10px;
    flex-wrap: wrap;
}
.dont_wrap{
    flex-wrap: nowrap;
}
.wrap_it{
    flex-wrap: wrap;
}

.dashboard_content1{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.row1_content{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.title{
    font-size: 1.5rem;
}

.row1_result{
    font-size: 4rem;
    justify-content: center;
}

.row2_content{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.graph_image{
    background-image: url(Admin-assets/TestGraph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    width: 20rem;
    flex: 10 1 1px;
}

.sub_title_content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 5px;
}

.even_column p{
    font-size: 9rem;
}

/*Table*/
.table_container{
    border-collapse: collapse;
    margin: 25px 0 10px 0;
}

.table_container thead tr th,
.table_container tbody tr td{
    width: 25%;
    text-align: left;
    overflow-wrap: break-word;
    padding: 15px 5px 5px 5px;
}

.table_container thead{
    flex: 1 1 100% !important;
}

.table_container thead tr{
    border: solid black;
    border-width: 0 0 1px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.table_container tbody{
    flex: 1 1 100% !important;
}

.table_container tbody tr{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    border: solid rgba(0, 0, 0, 0.137);
    border-width: 0 0 1px 0;
}

.staff_overview_table thead th{
    font-weight: normal !important;
}.staff_overview_table thead tr{
    justify-content: space-around;
}

.staff_overview_table{
    width: 100%;
}

.staff_overview_table tbody tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 4rem;
}

.Dashboard_patient_icon{
    background-image: url(Admin-assets/T_PatientIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}

.Dashboard_facilities_icon{
    background-image: url(Admin-assets/T_PatientIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}

.Dashboard_appointments_icon{
    background-image: url(Admin-assets/T_PatientIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}

.Dashboard_staff_icon{
    background-image: url(Admin-assets/TStaffIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}

/*ceccccc2*/