main{
    background-color: hsla(226, 71%, 40%, 0.048) !important;
    min-height: 100vh;
    align-content: baseline;
}

.main_container_bg{
    background-color: hsl(210, 40%, 98%) !important;
}

.main_container{
    display: flex;
    flex: 1 1 100%;
}


@media only screen and (min-width: 300px) and (max-width: 427px){
    /*mobile view*/

}

@media only screen and (min-width: 426px) and (max-width: 3000px){
    /*Desktop View*/

}

/*Overriding style only*/
@media only screen and (min-width: 953px) and (max-width: 2628px){
    
}
@media only screen and (min-width: 768px) and (max-width: 880px){
    
}

@media only screen and (min-width: 1341px) and (max-width: 2628px){
    
}

@media only screen and (max-width: 1024px) {
    
}