main {
  background-color: hsl(228, 13%, 92%) !important;
  min-height: 100dvh;
  align-content: baseline;
}

.main_container {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  flex: 1 1 100%;
  height: calc(100dvh - var(--header_fixed_height) - 33px);
  margin: 16px;
  padding: 15px;
  border-radius: 10px;
  inset: auto 0 auto 0;
  background-color: hsl(220, 30%, 97%) !important;
}

.content_row {
  display: flex;
  width: 100%;
}

.btn_tab_active1 {
  align-items: center;
  display: flex;
  flex: 2 1 100%;
  gap: 5px;
}
.btn_tab_active0 {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}

.content_row a,
.content_tabs a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

.search_container {
  display: flex;
  flex: 1 1 0;
}

/*Shared*/

.btn_actv1 {
  visibility: visible;
}
.btn_actv0 {
  visibility: hidden;
  display: none;
}

.patient_input_details div {
  margin: 10px 0px;
}
.patient_input_details div p {
  font-size: 1rem;
  margin-bottom: 2px;
}
.patient_input_details div input {
  padding: 5px;
  font-size: 1rem;
  width: 95%;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.192);
}
.buttons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 1 100%;
  justify-content: center;
}
.buttons input {
  font-weight: 500;
  border-radius: 7px;
}
.submit {
  color: hsl(0, 0%, 100%);
  background-color: hsl(226, 71%, 40%);
}
.submit:hover {
  background-color: hsl(226, 71%, 35%);
  transition: 1s;
}
.cancel {
  font-size: 0.875rem;
  padding: 5px 20px !important;
  background-color: hsl(226deg 71% 40% / 3%);
  background-color: hsl(226, 71%, 95%);
  border: 1px solid hsl(226, 71%, 40%) !important;
}

@media only screen and (min-width: 300px) and (max-width: 427px) {
  /*mobile view*/
  .btn_tab_active1,
  .btn_tab_active0 {
    padding: 5px 5px 2px 5px;
    border: solid;
    border-width: 0 0 1px 0;
  }
  .btn_tab_active1 {
    border-radius: 10px 10px 0 0;
    background-color: hsla(226, 71%, 40%, 0.377);
    border-color: hsl(226, 71%, 40%);
  }
  .btn_tab_active0 {
    border-radius: 10px 10px 0 0;
    background-color: hsla(226, 71%, 40%, 0.116);
    border-color: hsl(226, 71%, 40%);
  }

  /*Mobile Buttons layout*/
  .mobile_buttons_containers {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 10px;
  }
  .submit {
    font-size: 1.1rem;
    border: none;
    padding: 7px;
  }

  /*Mobile Form layout*/
  .form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }
  .patient_input_details {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 20px 0px 10px 0px;
  }
  .patient_input_details div {
    padding-left: 20px;
  }

  /*Mobile view patient details*/
  .mobile_view {
    display: grid;
  }

  /*Mobile view Hide*/
  .content_tabs,
  .desktop_buttons_containers {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 3000px) {
  /*Desktop View*/
  .mobile_content_row {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .health_record_tab {
    color: hsl(226, 71%, 40%) !important;
    text-decoration: none;
  }
  .health_record_tab:hover {
    text-decoration: underline;
  }

  .btn_tab_active1 {
    align-items: center;
    display: flex;
    gap: 5px;
  }

  .add_patient {
    display: flex;
    gap: 5px;
    font-weight: 550;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(226, 71%, 40%);
  }
  .add_patient:hover {
    background-color: hsl(226, 71%, 20%);
    transition: 1s;
  }
  .add_patient p {
    pointer-events: none;
  }

  .patient_list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    border: solid hsl(226, 71%, 40%);
    margin-bottom: -3px;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 10px;
  }

  /*Desktop Buttons layout*/
  .desktop_buttons_containers {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-auto-rows: 1fr;
    justify-self: center;
  }

  .submit {
    font-size: 1.2rem !important;
    padding: 4px 23px 4px 20px !important;
  }

  /*Desktop Form layout*/
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    gap: 20px;
  }
  .patient_input_details {
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    grid-template-areas:
      "form_0 form_0"
      "form_1 form_2"
      "form_3 form_4"
      "form_5 form_6"
      "form_7 form_8"
      "form_9 form_10"
      "submit submit";
  }

  .text_box {
    width: 100%;
    min-height: 130px;
    position: absolute;
  }
  .text_box textarea {
    margin-top: 5px;
    width: 95%;
    min-height: 130px;
    resize: none;
  }

  /*Desktop view layout*/
  .desktop_content_row {
    margin-top: 10px;
    display: grid;
    width: 100%;
  }
  .content_tabs {
    margin: 10px 0 0 0;
    display: grid;
    width: 100%;
    align-items: end;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    height: fit-content;
    border: solid hsla(0, 0%, 39%, 0.726);
    border-width: 0px 0px 1px 0px;
  }

  /*tab_1, 2, 3 is for Desktop Patient list, Health record, Add Patient*/
  .tab_3 {
    justify-content: end;
  }
  .tab_1,
  .tab_2,
  .tab_3 {
    padding: 0 0 3px 0;
  }
  .tab_2,
  .tab_3 {
    padding: 0 0 5px 0;
  }

  /*Desktop views hide*/
  .content_row,
  .mobile_buttons_containers {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
}

/*Overriding style only*/
@media only screen and (min-width: 953px) and (max-width: 2628px) {
}
@media only screen and (min-width: 1341px) and (max-width: 2628px) {
}

@media only screen and (max-width: 1024px) {
}
