main{
    background-color: hsla(226, 71%, 40%, 0.048) !important;
    min-height: 100vh;
    align-content: baseline;
}

.main_container_bg{
    background-color: hsl(210, 40%, 98%) !important;
}

.main_container{
    display: flex;
    flex: 1 1 100%;
}

.content_row{
    display: flex;
    width: 100%;
}

.btn_tab_active1{
    align-items: center;
    display: flex;
    flex: 2 1 100%;
    gap: 5px;
}
.btn_tab_active0{
    align-items: center;
    display: flex;
    flex: 1 1 auto;
}

.content_row a{
    color: hsl(0, 0%, 0%);
}

.search_container{
    display: flex;
    flex: 1 1 0;
}

.btn_actv1{
    visibility: visible;
}.btn_actv0{
    visibility: hidden;
    display: none;
}

.search_bar,
.search_bar:focus-visible{
    border-radius: 5px;
    padding: 5px;
    flex-grow: 1;
    border-width: 1px;
    border-color: hsla(0, 0%, 0%, 0.192) !important;
}

/*Mobile view patients details layout*/
.cards_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 575px;
    overflow-y: scroll;
    border-radius: 10px;
}
.cards_container div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: baseline;
}
.paitent_info_folder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
    margin: 5px 5px;
    background-color: hsla(222, 43%, 91%, 0.507);

}

@media only screen and (min-width: 300px) and (max-width: 427px){
    /*mobile view*/
    .btn_tab_active1,
    .btn_tab_active0{
        padding:5px 5px 2px 5px;
        border: solid;
        border-width: 0 0 1px 0;
    }
    .btn_tab_active1{
        border-radius: 10px 10px 0 0;
        background-color: hsla(226, 71%, 40%, 0.377);
    }.btn_tab_active0{
        border-radius: 10px 10px 0 0;
        background-color: hsla(226, 71%, 40%, 0.116);
        border-color: hsl(226, 71%, 40%);
    }

}

@media only screen and (min-width: 426px) and (max-width: 3000px){
    /*Desktop View*/
    
}

/*Overriding style only*/
@media only screen and (min-width: 953px) and (max-width: 2628px){
    
}
@media only screen and (min-width: 1341px) and (max-width: 2628px){
    
}

@media only screen and (max-width: 335px) {
    .btn_tab_active1 p{
        font-size: 0.875rem;
    }
}