* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --header_fixed_height: 56px; /*The user_name*/
  --side_bar_fixed_width: 20dvw; /*Width for side bar*/
  --main_content_fixed_width: 70dvw; /*Width for main content*/
}

/*
| Element         | HSL              |
| --------------- | ---------------- |
| Primary         | hsl(226,71%,40%) | Based
| Text Primary    | hsl(222,20%,15%) | Important or headers
| Text Secondary  | hsl(222,14%,40%) | Less Important text
| HTML Background | hsl(228,13%,92%) | The main color
| Main Content BG | hsl(220,30%,97%) | The main container 
| Container BG    | hsl(0,0%,100%)   | Child of container or cards
| Sidebar BG      | hsl(226,50%,15%) | Side bar
| Header BG       | hsl(226,45%,92%) | User name
| Success         | hsl(145,63%,42%) | Success, Active, Good
| Warning         | hsl(40,90%,55%)  | Pending, Notice
| Danger          | hsl(0,70%,50%)   | Inactive, Reject, Bad

Buttons
| CTA Button      | hsl(226, 71%, 40%)  | Save, Enter
|                 | hsl(226, 71%, 35%)  | Hover
| Secondary Button| hsl(226, 71%, 40%)  | Cancel
|                 | hsl(226, 71%, 95%)  | BG

*/

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: hsl(0, 0%, 90%);
}

/*My preset*/
.content_container {
  padding: 0.9375rem;
}

.content_container_bg {
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
}
.hide {
  visibility: hidden;
  pointer-events: none;
  display: none;
  opacity: 0;
}
.border_color {
  border-color: hsla(0, 0%, 0%, 0.089);
}

.border {
  border: 1px solid;
}

.title {
  font-size: 1.5625rem;
  color: hsl(222, 20%, 15%);
}

.normal_text {
  font-size: 1.125rem;
  color: hsl(0, 0%, 30%);
}

.h1 {
  font-size: 1.4375rem;
  color: hsl(222, 20%, 15%);
}
.h2 {
  font-size: 1.25rem;
  color: hsl(222, 20%, 15%);
}
.h3 {
  font-size: 1rem;
  color: hsl(222, 20%, 15%);
}

.highlights {
  background-color: hsl(0, 0%, 100%);
}
/*Preset end*/

/*Side panel container*/
/*Side panel active*/
aside nav {
  height: 100%;
  display: grid;
  grid-template-rows: calc(20% - 30px) 50% 30%;
}
aside nav li {
  list-style: none;
  display: flex;
  align-items: center;
  width: fit-content;
  width: 100%;
}
/*side panel hover*/
aside {
  background-color: hsl(226, 50%, 15%) !important;
}

aside nav .service_tabs li:hover,
aside nav .other_option li:hover {
  padding-left: 5px;
  background-color: hsl(226, 50%, 22%);
  transition: all 0.2s ease-in-out;
}
aside nav li:hover a {
  width: 100%;
  border: hsl(0, 0%, 100%) solid;
  border-width: 0 0 0 2px;
  font-weight: bold;
}
/*end*/

aside nav li a {
  text-decoration-line: none;
  display: flex;
  align-items: center;
  margin: 5px 0px;
  gap: 10px;
  margin: 5% 0px;
  color: hsl(0, 0%, 100%) !important;
}

/*Side panel modes*/
.side_panel_hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
.side_panel_active {
  opacity: 1 !important;
  visibility: visible !important;
}
.side_panel_collapsed {
  width: 18vw;
  pointer-events: none;
  transition: visibility 0.3s ease-in-out;
  transform: translateX(100%);
}
.side_panel_expanded {
  width: auto;
  background-color: hsl(0, 0%, 95%);
  transition: visibility 0.3s ease-in-out;
  transform: translateX(0%);
}

.collapse_btn {
  position: absolute;
  inset: 0 0 0 0;
  padding: 10%;
  transform: rotate(0deg);
  border-radius: 8px;
  background-color: hsl(0, 0%, 95%, 0.8);
  pointer-events: visible !important;
}

/*Main content*/
main {
  display: flex;
  flex-wrap: wrap;
}
main li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
main li p {
  display: flex;
  align-items: center;
}
.user_name_container {
  display: flex;
  justify-content: flex-end;
  height: var(--header_fixed_height);
  padding: 1rem;
  width: 100%;
  color: hsl(226, 50%, 15%);
  font-weight: bolder;
  background-color: hsl(226, 45%, 92%);
}
.main_container {
  padding: 1rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

main {
  flex: 1;
}

/*Icons setting*/
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/*Logo*/
.hospital_logo {
  background-image: url(Admin-assets/hospitalLogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(6rem, (0.7dvh + 0.9rem), 7rem);
  width: clamp(6rem, (0.7dvh + 0.9rem), 7rem);
  display: inline-block;
  z-index: 5;
}

.logo {
  pointer-events: none !important;
}

@media only screen and (min-width: 300px) and (max-width: 425px) {
  /*Mobile view*/
  /*Mobile view Side bar layout*/
  aside {
    position: fixed !important;
    height: 100dvh !important;
  }
  aside nav {
    position: sticky !important;
    top: 0;
  }
  .expand_btn {
    visibility: visible !important;
    pointer-events: visible !important;
  }

  /*Mobile view service tabs*/

  .logo {
    /*Mobile view logo*/
    margin: 0px 0px !important;
  }
  .logo li {
    display: grid;
    grid-template-columns: 75% 15%;
  }
  .logo,
  .service_tabs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 20px 0px;
    gap: clamp(0.5rem, calc(0.5dvw + 0.1rem), 1rem);
  }
  nav,
  nav span {
    font-size: clamp(0.5rem, calc(1dvw + 0.8rem), 1rem);
  }
  .other_option {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: clamp(0.5rem, calc(0.5dvw + 0.1rem), 1rem);
    margin-bottom: 2%;
  }
  .setting {
    padding-top: 7px;
    border: solid hsl(0, 0%, 100%);
    border-width: 1px 0 0 0;
    align-content: flex-end;
  }

  /*Mobile view Side panel close and open*/

  .side_panel_btn_ctnair {
    margin: 10px;
    width: 100%;
    position: relative;
    inset: -35% auto auto 45%;
    pointer-events: visible;
    z-index: 15;
  }
  .side_panel_btn_ctnair > span {
    display: block;
    position: relative;
    height: 4px;
    background-color: hsl(226, 71%, 40%);
  }
  .side_panel_btn_ctnair > span:nth-child(1) {
    transform: rotate(130deg);
  }
  .side_panel_btn_ctnair > span:nth-child(2) {
    bottom: 4px;
    transform: rotate(50deg);
  }
  body:has(.side_panel_btn_ctnair:focus) aside {
    display: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 2560px) {
  /*Desktop view*/
  body {
    display: flex !important;
    flex-wrap: wrap;
    min-height: 100dvh;
  }
  /*Desktop view Side bar layouts*/
  aside {
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: 100dvh;
    overflow-y: auto;
    width: var(--side_bar_fixed_width) !important;
    z-index: 50;
    overflow-x: hidden;
  }
  aside nav {
    position: relative !important;
    height: 100%;
  }

  /*Desktop view logo*/
  .logo > li i {
    inset: auto 25% 25% 25%;
    position: relative;
  }
  /*Desktop view service tabs*/
  .logo,
  .service_tabs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 20px 0px;
    gap: clamp(0.5rem, calc(0.5dvw + 0.1rem), 1rem);
  }
  nav,
  nav span {
    font-size: clamp(0.5rem, calc(1dvw + 0.2rem), 1rem);
  }
  .other_option {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: clamp(0.5rem, calc(0.5dvw + 0.1rem), 1rem);
    margin-bottom: 2%;
  }
  .setting {
    padding-top: 7px;
    border: solid hsl(0, 0%, 100%);
    border-width: 1px 0 0 0;
    align-content: flex-end;
  }
  /*Desktop view Others*/
  main {
    width: calc(100dvh - var(--side_bar_fixed_width));
  }
  .expand_btn {
    visibility: hidden !important;
    pointer-events: none !important;
  }
}

/* @media only screen and (min-width: 1440px) and (max-width: 1500px) {
  .side_panel_expanded {
    width: 13vw;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 2560px) {
  .side_panel_expanded {
    width: 11vw;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .side_panel_expanded {
    width: 23vw;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .side_panel_expanded {
    width: 18vw;
    overflow-x: hidden;
  }
} */
