.side_panel{
    border-right: 1px solid #afaeae6c;
}

.logo{
    background-image: url(Admin-assets/hospitalLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 4rem;
    width: 4rem;
}

.dashboard_icon{
    background-image: url(Admin-assets/dashboardIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.patient_icon{
    background-image: url(Admin-assets/patientIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.scheduling_icon{
    background-image: url(Admin-assets/scheduleIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.facilities_icon{
    background-image: url(Admin-assets/medicalIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.staff_icon{
    background-image: url(Admin-assets/staffIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.notification_icon{
    background-image: url(Admin-assets/notificaionIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.settings_icon{
    background-image: url(Admin-assets/setting.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.log_out_icon{
    background-image: url(Admin-assets/logout.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.side_panel p{
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}